*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: cursive;
	text-decoration: none;
	list-style: none;
}

.navbar{
	width: 100%;
	position: fixed;
	background-color: crimson;
	padding: 15px 0px;
	z-index: 900;

}
.navbar .max-width{
	width: 1300px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin:auto;

}

.logo a{
	color: #fff;
	font-size: 40px;
	font-weight: 500;

}
.logo a span{
	color: black;
}
.menu{
	padding-top: 10px;
}

.menu li{
	display: inline-block;
}
.menu li a {
	color: #fff;
	font-size: 20px;
	font-weight: 200;
	margin-left: 25px;
	transition: color 1s ;
}
.menu li a:hover {
	color: black;
}

.sous_menu {
	display: none;
	position: absolute;
	
}
.mnd:hover .sous_menu{
	display: block;
}
.sous_menu li{
	display: block;
	background-color: Brown;
	margin: auto;
	text-align: left;
	padding: : 20px 0px;
}
.sous_menu li:hover{

	background-color: white;

}
.sous_menu li:hover a{
	color: crimson;
}

/******************************************************************************/

.home {
	height: 800px;
	background: url('home2.jpg');
	display: flex;

}
.home .max-width{
	color:white;
	margin:auto 120px;
}

.home .home-content .text-1{
	font-size: 40px;
	font-weight: 600;
}
.home .home-content .text-2{
	color: crimson;
	font-size: 60px;
	font-weight: 500;
}

.home .home-content .text-3{

		font-size: 50px;
	font-weight: 700;
}

.home .home-content .text-3 span{
		color: crimson;
}
.home .home-content .button-one{
	display: inline-block;
	font-size: 40px;
	font-weight: 200;
	background-color: crimson;
	color: white;
	border:2px solid crimson;
	border-radius: 20px;
	padding: 10px 40px ;
	margin-top: 20px;

}
.home .home-content .button-one:hover{
	background: none;

}

/******************************************************************************************************/

.about{
	padding: 50px 150px;
}
.about .title{
	position: relative;
    font-family: 'Ubuntu',sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-align: center  ;
    text-decoration: underline crimson;
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;/*permet de forcer les element à aligner sur la meme ligne*/
    align-items: center;
    justify-content: space-between;
}
.about .left{
	width: 45%;

}
.about .left img{

	height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .right{
	width: 55%;

}

.about .right  .text{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .text span{
    color: crimson;
}

.about .about-content .right  p{
  text-align: justify;
  font-size: 20px

}

.about .about-content a{
	display: inline-block;
	font-size: 40px;
	font-weight: 200;
	background-color: crimson;
	color: white;
	border:2px solid crimson;
	border-radius: 20px;
	padding: 10px 40px ;
	margin-top: 20px;

}
.about .about-content a:hover{
	background: none;
	color: crimson;

}

/******************************************************************************************************/
.services{
	background-color: black;
	padding: 50px 150px;
	 color: #fff;
       
}
.services .title{
	color: white;
	position: relative;
    font-family: 'Ubuntu',sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-align: center  ;
    text-decoration: underline crimson;
}

.services .service-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .services .service-content .card{
        width: calc(20%-20px);
        background: #222;
        text-align: center;
        border-radius: 6px;
        padding: 20px 25px;
        cursor: pointer;
        margin-right: 15px;
    }
     .services .service-content .card .text {
        	font-weight: 500;
        	font-size: 30px;
        	color: crimson;
    }
    .services .service-content .card {
        transition: all 1s ease;
    }
    .services .service-content .card:hover {
        background-color : crimson;
    }
       .services .service-content .card:hover .text {
        color: white;
    }
    .services .service-content .card:hover .box{
        transform: scale(1.05);
    }
    .icon{
        color: crimson;
        font-size: 50px;
    }
     .services .service-content .card:hover .icon {
        color: white;
    }
